<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        </span>
        <% unless pending_requests(current_user, user) || user.id == current_user.id %>
        <span>
          <%= link_to 'Add ' + user.name, friendships_path(user_id: current_user.id, friend_id: user.id), method: :post, data: {disable_with: 'Pending'}, class: 'frnd-btn' %>
        </span>
        <% end %>
        <span><%= "You are friends!" if accepted_requests(current_user, user) %></span>
        <% if request_alert(current_user, user) %>
          <span>Your friend request is pending!</span>
        <% end %>
        <div>
          <% if show_requests_on_userlist(user, current_user) %>
          <span><%= user.name %> wants to be your friend: </span>
               <span>
                <%= link_to 'Accept', friendship_path(user, user_id: user.id, friend_id: current_user.id), method: :put, class: 'frnd-btn' %>
              </span>
              <span>
                  <%= link_to 'Ignore', friendship_path(user, user_id: user.id, friend_id: current_user.id), method: :delete, class: 'ignore-btn' %>
              </span>
          <% end %>
        </div
      </li>
    <% end %>
  </ul>
</section>
