<section class="user-section">
  <h2><%= "Name: #{@user.name}." %></h2>
  <% if show_requests_on_userlist(@user, current_user) %>
  <div>
    <p>Your request from <%= @user.name %> is pending.</p>
       <span>
        <%= link_to 'Accept', friendship_path(@user, user_id: @user.id, friend_id: current_user.id), method: :put, class: 'frnd-btn' %>
      </span>
      <span>
          <%= link_to 'Ignore', friendship_path(@user, user_id: @user.id, friend_id: current_user.id), method: :delete, class: 'ignore-btn' %>
      </span>
  </div>
  <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <div>
    <% if @user == current_user %>
    <h3>Friend Requests:</h3>
    <% @friend_requests.each do |friend| %>
    <p><%= friend.user.name %> wants to be your friend.</p>
      <span>
          <%= link_to 'Accept', friendship_path(@user, user_id: friend.user.id, friend_id: friend.friend.id), method: :put, class: 'frnd-btn' %>
      </span>
      <span>
          <%= link_to 'Ignore', friendship_path(@user, user_id: friend.user.id, friend_id: friend.friend.id), method: :delete, class: 'ignore-btn' %>
      </span>
    <% end %>
    <% end %>
  </div>
  <div>
    <h4><%= @user.name %>'s friends:</h4>
    <ul>
    <% @users.each do |user| %>
    <% if accepted_requests(@user, user) %>
    <li><%= user.name %></li>
    <% end %>
    <% end %>
    </ul>
  </div>
</section>
